<header>
    <div (click)="onBack()">
        <i class="glyphicon glyphicon-menu-left"></i>
    </div>
    <section>

    </section>
</header>

<section class="draw-container">
    <!-- <canvas #canvas></canvas> -->
    <svg #svg></svg>
</section>


<footer>
    <section>
        <i class="glyphicon glyphicon-erase"></i>
        <i class="glyphicon glyphicon-erase"></i>
        <i class="glyphicon glyphicon-erase"></i>
        <i class="glyphicon glyphicon-erase"></i>
        <i class="glyphicon glyphicon-erase"></i>
    </section>
</footer>