<header>
    <div (click)="onBack()">
        <i class="glyphicon glyphicon-menu-left"></i>
    </div>
    <section>

    </section>
    <div (click)="onPin()">
        <i class="glyphicon glyphicon-pushpin"></i>
    </div>
    <div (click)="onReminder()">
        <i class="glyphicon glyphicon-calendar"></i>
    </div>
    <div (click)="onArchive()">
        <i class="glyphicon glyphicon-save-file"></i>
    </div>
</header>

<org-editor-notes *ngIf="toggelAddFeatures" (select)="onAddFeatureClose($event)"></org-editor-notes>
<org-editor-options *ngIf="toggelOptions" (select)="onOptionsClose($event)"></org-editor-options>

<section class="list-editor-container">

    <!-- Editor body -->
    <article class="list-editor">
        <section *ngIf="listItem.image && listItem.image.length" [ngClass]="{'block' : listItem.image.length > 1}">
            <img *ngFor="let url of listItem.image" class="listImage" [src]="_DomSanitizationService.bypassSecurityTrustUrl(url)"/>
        </section>

        <section *ngIf="listItem.drawing && listItem.drawing.length" [ngClass]="{'block' : listItem.drawing.length > 1}">
            <img *ngFor="let url of listItem.drawing" class="listImage" [src]="_DomSanitizationService.bypassSecurityTrustUrl(url)"/>
        </section>

        <div class="list-text-editor" [ngClass]="{'list-editor-alternate' : listItem.type !== 'note'}">
            <div class="editable title" contenteditable="true" [orgPlaceholder]="placeholders.title" 
                [orgValue]="listItem.title" (input)="listItem.title = $event.target.innerText" #title></div>
            <div class="editable description" contenteditable="true" [orgPlaceholder]="placeholders.description" 
                [orgValue]="listItem.description" (input)="listItem.description = $event.target.innerText" 
                *ngIf="listItem.type !== 'list'" #description></div>
        </div>

        <org-todo *ngIf="listItem.type === 'list'" [todoList]="listItem.todo"></org-todo>
    </article>

    <!-- Hidden Inputs -->
    <input style="display: none;" type="file" accept="image/*" capture #image (change)="onCameraChange($event)" />

    <!-- Editor footer -->
    <footer class="list-editor-options"> 
        <div (click)="onAddFeatures()">
            <i class="glyphicon glyphicon-plus"></i>
        </div>
        <section>
            <p>{{ (id) ? 'Edited : ' : 'Created : ' }} {{ listItem.createdAt | date:'short'}}</p>
        </section>
        <div (click)="onOptions()">
            <i class="glyphicon glyphicon-option-horizontal"></i>
        </div>
    </footer>
</section>