<li class="list-item" (click)="onListItem()">
    <div *ngIf="item.image && item.image.length" [ngClass]="{'block' : item.image.length > 1}">
        <img class="listImage" *ngFor="let url of item.image" [src]="_DomSanitizationService.bypassSecurityTrustUrl(url)" />
    </div>

    <div *ngIf="item.drawing && item.drawing.length" [ngClass]="{'block' : item.drawing.length > 1}">
        <img class="listImage" *ngFor="let url of item.drawing" [src]="_DomSanitizationService.bypassSecurityTrustUrl(url)" />
    </div>

    <div>
        <p *ngIf="item.title !== null" class="title">{{item.title}}</p>
        <p *ngIf="item.description !== null" class="description">{{item.description}}</p>
    </div>

    <div *ngIf="item.todo.active.length || item.todo.completed.length">
        <ul>
         <li *ngFor="let active of item.todo.active">
             <p>{{active}}</p>
         </li>
        </ul>
    </div>

    <section *ngIf="item.recording && item.recording.length" (click)="onListItem()">
        <div *ngFor="let url of item.recording" class="listAudio">
            <audio [src]="_DomSanitizationService.bypassSecurityTrustUrl(url)" controls></audio>
        </div>
    </section>
</li>